body {
    background-color: #08111F;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

nav {
    display: flex;
    gap: 50px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin-left: 30px;
}

nav a:hover {
    color: #D4AF37;
}

.hero {
    min-height: 100vh;
    background-image: url("../imagenes/espacio1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    color: white;
    text-shadow: 3px 3px 5px black;

}

h1.titulo {
    font-size: 100px;
}

p.slogan {
    font-size: 50px;
}

p.subtitle {
    font-size: 20px;
    color: white;
    justify-content: space-around
}

.boton-principal {
    font-size: 20px;
    padding: 15px 30px;
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    cursor: pointer;
    color: #333;
    text-decoration: none;
    display: inline-block;
    text-shadow: none;
}

.boton-principal:hover {
    background-color: #D4AF37;
    color: white;
}
.video-promocional {
    display: flex;

    padding: 30px;
    align-items: center;
    margin-right: 10px;
    margin-left: 10px;
}

.video-promocional:hover {
    border: 2px solid #D4AF37;
    border-radius: 10px;
}

.videoLumienses {
    margin-right: 10vw;
}

.informacionLumienses {
    text-align: center;
    padding: 20px;
}

h2.titulo {
    font-size: 35px;
    color: white;
    text-align: center;
}

.boton-secundario {
    font-family: inherit;
    font-size: 15px;
    padding: 12px 25px;
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    cursor: pointer;
    color: #333 !important;
    text-decoration: none;
    display: inline-block;
}

.boton-secundario:hover {
    background-color: #D4AF37;
    color: white !important;
}
.cards {
    color:white;
    font-size:18px;
    padding:20px;
}

.cards-grid {

    margin:0 10px;

    display:flex;
    justify-content:center;
    gap:40px;
    flex-wrap:wrap;

}


.card {

    width:320px;
    height:500px;

    border:2px solid #5DBBFF;
    border-radius:15px;
    overflow:hidden;

    display:flex;
    align-items:flex-end;

    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;


}


.card:hover {

    border-color:#D4AF37;

}


.card-content {

    width:100%;
    padding:25px;

    background:linear-gradient(
        transparent,
        rgba(8,17,31,0.95)
    );

    color:white;
text-align:center;
}

.card-krynar{
    background-image:url("../imagenes/krynar.jpeg");
}

.card-layen{
    background-image:url("../imagenes/layen.jpeg");
}

.card-portha{
    background-image:url("../imagenes/portha.jpeg");
}
.blog {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 40px;
    margin-right: 60px;
    padding: 0 20px;
    gap: 80px;
}
.image-blog{
    padding:20px;
}

.image-blog img{
    width:350px;
    height:250px;
    object-fit:cover;
    border-radius:10px;
}
.main-sentence {
    color: #5DBBFF;
    text-align: center;
    font-size: 20px;
}
.blog-content a,
.blog-content p {
    text-decoration:none;
    color:white;
}
.blog {
    align-items: center;
}
.blog p{
    font-size: 20px;
    text-align: justify;
}
/* ===========================
   FOOTER
=========================== */

footer{

    margin-top:80px;
    padding:50px;

    background-color:#050C18;

    color:white;

}

.footer-content{

    display:flex;
    justify-content:space-between;
    gap:60px;
    flex-wrap:wrap;

}

.footer-logo{

    flex:2;

}

.footer-logo p{

    margin-top:20px;
    line-height:1.6;

}

.footer-links,
.footer-project{

    display:flex;
    flex-direction:column;

    flex:1;

}

.footer-links h3,
.footer-project h3{

    margin-bottom:20px;

    color:#D4AF37;

}

.footer-links a,
.footer-project a{

    color:white;

    text-decoration:none;

    margin-bottom:12px;

}

.footer-links a:hover,
.footer-project a:hover{

    color:#D4AF37;

}

footer hr{

    margin:40px 0;

    border:none;

    border-top:1px solid #2B3A52;

}

.footer-bottom{

    text-align:center;

    font-size:14px;

    color:#B8C0CC;

}
@media (max-width:768px){

    header{
        flex-direction:column;
    }

    nav{
        flex-direction:column;
        gap:20px;
        text-align:center;
    }

    .hero{
        min-height:70vh;
        padding:40px 20px;
    }

    h1.titulo{
        font-size:50px;
    }

    p.slogan{
        font-size:40px;
    }

    p.subtitle{
        font-size:30px;
    }
    .video-promocional{
    flex-direction:column;
}

.videoLumienses video{
    width:100%;
    height:auto;
} 

}
/* ===========================
   WORLDS PAGE
=========================== */

.worlds-intro {
    text-align: center;
    color: white;
    padding: 60px 30px 40px;
}

.worlds-intro h1 {
    font-size: 60px;
    margin-bottom: 20px;
}

.worlds-intro p {
    color: white;
    font-size: 20px;
    max-width: 800px;
    margin: auto;
    line-height: 1.6;
}


/* CONTENEDOR DE LOS MUNDOS */

.worlds {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}


/* CADA MUNDO */

.world {
    width: 100%;
    min-height: 500px;

    margin-bottom: 50px;

    border-radius: 15px;
    overflow: hidden;

    display: flex;
    align-items: flex-end;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* IMÁGENES DE LOS MUNDOS */

.world-krynar {
    background-image: url("../imagenes/krynar.jpeg");
}

.world-layen {
    background-image: url("../imagenes/layen.jpeg");
}

.world-lumia {
    background-image: url("../imagenes/lumia.jpg");
}

.world-portha {
    background-image: url("../imagenes/portha.jpeg");
}


/* CONTENIDO SOBRE LA IMAGEN */

.world-content {
    width: 100%;
    padding: 40px;

    color: white;

    background: linear-gradient(
        transparent,
        rgba(8, 17, 31, 0.95)
    );

    text-align: left;
}


/* TÍTULO DEL PLANETA */

.world-content h2 {
    font-size: 40px;
    margin-bottom: 10px;
}


/* SUBTÍTULO */

.world-content h3 {
    color: #D4AF37;
    font-size: 22px;
    margin-bottom: 15px;
}


/* DESCRIPCIÓN */

.world-content p {
    color: white;
    font-size: 18px;
    line-height: 1.6;

    max-width: 750px;

    margin-bottom: 25px;
}


/* EFECTO AL PASAR EL RATÓN */

.world:hover {
    border-color: #D4AF37;
}


/* ===========================
   WORLDS - MÓVIL
=========================== */

@media (max-width: 768px) {

    .worlds-intro {
        padding: 40px 20px;
    }

    .worlds-intro h1 {
        font-size: 42px;
    }

    .worlds-intro p {
        font-size: 17px;
    }

    .world {
        min-height: 550px;
    }

    .world-content {
        padding: 25px;
    }

    .world-content h2 {
        font-size: 32px;
    }

    .world-content h3 {
        font-size: 19px;
    }

    .world-content p {
        font-size: 16px;
    }

}
/* ===========================
   BLOG
=========================== */

.blog-intro {
    text-align: center;
    padding: 60px 20px 40px;
    color: white;
}

.blog-intro p {
    max-width: 800px;
    margin: 20px auto;
    font-size: 20px;
    line-height: 1.6;
}


/* LISTADO DE ARTÍCULOS */

.blog-list {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 20px 60px 80px;
}


/* CADA ARTÍCULO */

.blog-article {
    display: flex;
    align-items: center;
    gap: 50px;

    padding: 25px;

    border-bottom: 1px solid #2B3A52;
}


/* IMAGEN */

.blog-image {
    flex-shrink: 0;
}

.blog-image img {
    width: 350px;
    height: 230px;

    object-fit: cover;
    border-radius: 10px;

    display: block;
}


/* CONTENIDO */

.blog-content {
    color: white;
    flex: 1;
}

.blog-content h2 {
    font-size: 30px;
    margin-bottom: 15px;
}

.blog-content h2 a {
    color: white;
    text-decoration: none;
}

.blog-content h2 a:hover {
    color: #5DBBFF;
}


.blog-content p {
    font-size: 18px;
    line-height: 1.6;
    text-align: justify;

    margin-bottom: 20px;
}


/* BOTÓN */

.blog-content .boton-secundario {
    margin-top: 5px;
}


/* ===========================
   BLOG RESPONSIVE
=========================== */

@media (max-width: 768px) {

    .blog-intro {
        padding: 40px 20px 30px;
    }

    .blog-intro h1 {
        font-size: 45px;
    }

    .blog-intro p {
        font-size: 17px;
    }


    .blog-list {
        margin: 20px;
        gap: 40px;
    }


    .blog-article {
        flex-direction: column;
        gap: 25px;

        padding: 20px 0;
        align-items: stretch;
    }


    .blog-image img {
        width: 100%;
        height: 220px;
    }


    .blog-content h2 {
        font-size: 25px;
    }


    .blog-content p {
        font-size: 17px;
        text-align: left;
    }

}
/* ===========================
   BLOG - ARTÍCULO
=========================== */

.article-intro {
    text-align: center;
    padding: 70px 20px 40px;
    color: white;
}

.article-intro h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

.article-subtitle {
    font-size: 22px;
    color: #B8C0CC;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.6;
}


/* IMAGEN PRINCIPAL */

.article-main-image {
    width: 80%;
    max-width: 1000px;
    margin: 20px auto 50px;
}

.article-main-image img {
    width: 100%;
    height: 450px;
    object-fit: cover;
    border-radius: 15px;
    display: block;
}


/* CONTENIDO */

.article-content {
    width: 70%;
    max-width: 900px;
    margin: 0 auto;
    color: white;
}

.article-content h2 {
    color: #5DBBFF;
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.article-content p {
    font-size: 19px;
    line-height: 1.8;
    margin-bottom: 25px;
    text-align: justify;
}


/* ENLACES DENTRO DEL ARTÍCULO */

.article-content a {
    color: #5DBBFF;
    text-decoration: none;
}

.article-content a:hover {
    color: #D4AF37;
    text-decoration: underline;
}


/* VOLVER AL BLOG */

.back-blog {
    margin-top: 60px;
    margin-bottom: 70px;
    text-align: center;
}

.back-blog a {
    display: inline-block;
    padding: 12px 25px;
    border: 1px solid #5DBBFF;
    border-radius: 10px;
    color: white;
    text-decoration: none;
}

.back-blog a:hover {
    background-color: #D4AF37;
    border-color: #D4AF37;
    color: white;
}


/* ===========================
   ARTÍCULO - MÓVIL
=========================== */

@media (max-width:768px) {

    .article-intro {
        padding: 40px 20px 25px;
    }

    .article-intro h1 {
        font-size: 35px;
    }

    .article-subtitle {
        font-size: 18px;
    }

    .article-main-image {
        width: 90%;
        margin-bottom: 35px;
    }

    .article-main-image img {
        height: 250px;
    }

    .article-content {
        width: 90%;
    }

    .article-content h2 {
        font-size: 25px;
        margin-top: 40px;
    }

    .article-content p {
        font-size: 17px;
        line-height: 1.7;
        text-align: left;
    }

}
/* =========================
   PÁGINA PROYECTO
   ========================= */

/* HERO */

.project-hero {
    position: relative;
    min-height: 75vh;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.project-hero img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    inset: 0;
}

.project-hero::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
        90deg,
        rgba(8, 17, 31, 0.90) 0%,
        rgba(8, 17, 31, 0.55) 45%,
        rgba(8, 17, 31, 0.15) 100%
    );
}

.project-hero-content {
    position: relative;
    z-index: 2;
    width: 85%;
    max-width: 1200px;
    margin: 0 auto;
    color: white;
}

.project-hero-content h1 {
    font-size: 75px;
    margin: 10px 0 15px;
}

.project-hero-content p {
    font-size: 24px;
    max-width: 600px;
    line-height: 1.6;
}

.project-label {
    color: #D4AF37;
    font-size: 14px !important;
    letter-spacing: 3px;
    font-weight: bold;
    text-transform: uppercase;
}


/* ¿QUÉ ES GALATEA? */

.project-intro {
    width: 85%;
    max-width: 1200px;
    margin: 100px auto;
    display: flex;
    align-items: center;
    gap: 70px;
}

.project-text,
.project-image {
    width: 50%;
}

.project-text h2 {
    color: #5DBBFF;
    font-size: 42px;
    margin: 10px 0 25px;
}

.project-text p {
    color: #B8C0CC;
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 20px;
}

.project-text strong {
    color: white;
}

.project-image img {
    width: 100%;
    height: 420px;
    object-fit: cover;
    border-radius: 18px;
    display: block;
}


/* REALIDAD E IMAGINACIÓN */

.project-science {
    padding: 90px 20px;
    background-color: #0c1727;
}

.section-title {
    text-align: center;
    max-width: 750px;
    margin: 0 auto 50px;
}

.section-title h2 {
    font-size: 42px;
    color: #5DBBFF;
    margin: 10px 0 20px;
}

.section-title > p:last-child {
    color: #B8C0CC;
    font-size: 19px;
    line-height: 1.7;
}

.project-cards {
    width: 85%;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    gap: 30px;
}

.project-card {
    flex: 1;
    padding: 40px;
    border: 1px solid rgba(93, 187, 255, 0.25);
    border-radius: 18px;
    background-color: #08111F;
}

.project-card-number {
    color: #D4AF37;
    font-size: 15px;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.project-card h3 {
    color: white;
    font-size: 28px;
    margin-bottom: 20px;
}

.project-card p {
    color: #B8C0CC;
    font-size: 18px;
    line-height: 1.8;
}

.project-card:hover {
    transform: translateY(-5px);
    border-color: #5DBBFF;
    transition: 0.3s;
}


/* ORIGEN DEL PROYECTO */

.project-origin {
    width: 85%;
    max-width: 1200px;
    margin: 110px auto;
    display: flex;
    align-items: center;
    gap: 70px;
}

.project-origin-image,
.project-origin-text {
    width: 50%;
}

.project-origin-image img {
    width: 100%;
    height: 470px;
    object-fit: cover;
    border-radius: 18px;
    display: block;
}

.project-origin-text h2 {
    color: #5DBBFF;
    font-size: 42px;
    margin: 10px 0 25px;
}

.project-origin-text p {
    color: #B8C0CC;
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 20px;
}

.project-origin-text a {
    color: #5DBBFF;
    text-decoration: none;
}

.project-origin-text a:hover {
    color: #D4AF37;
    text-decoration: underline;
}


/* FUTURO */

.project-future {
    text-align: center;
    padding: 100px 20px;
    background-color: #0c1727;
}

.project-future h2 {
    color: #5DBBFF;
    font-size: 46px;
    margin: 10px 0 25px;
}

.project-future > p:not(.project-label) {
    color: #B8C0CC;
    max-width: 700px;
    margin: 0 auto 18px;
    font-size: 19px;
    line-height: 1.8;
}

.project-future .boton-principal {
    margin-top: 30px;
}


/* =========================
   RESPONSIVE PROYECTO
   ========================= */

@media (max-width: 768px) {

    .project-hero {
        min-height: 65vh;
    }

    .project-hero::after {
        background: rgba(8, 17, 31, 0.60);
    }

    .project-hero-content {
        width: 90%;
        text-align: center;
    }

    .project-hero-content h1 {
        font-size: 45px;
    }

    .project-hero-content p {
        font-size: 19px;
        margin: 0 auto;
    }

    .project-label {
        font-size: 12px !important;
        letter-spacing: 2px;
    }


    .project-intro {
        width: 90%;
        margin: 60px auto;
        flex-direction: column;
        gap: 35px;
    }

    .project-text,
    .project-image {
        width: 100%;
    }

    .project-text h2 {
        font-size: 32px;
    }

    .project-text p {
        font-size: 17px;
    }

    .project-image img {
        height: 280px;
    }


    .project-science {
        padding: 60px 20px;
    }

    .section-title h2 {
        font-size: 32px;
    }

    .section-title > p:last-child {
        font-size: 17px;
    }

    .project-cards {
        width: 100%;
        flex-direction: column;
    }

    .project-card {
        padding: 30px;
    }

    .project-card h3 {
        font-size: 25px;
    }

    .project-card p {
        font-size: 17px;
    }


    .project-origin {
        width: 90%;
        margin: 70px auto;
        flex-direction: column;
        gap: 35px;
    }

    .project-origin-image,
    .project-origin-text {
        width: 100%;
    }

    .project-origin-image img {
        height: 300px;
    }

    .project-origin-text h2 {
        font-size: 32px;
    }

    .project-origin-text p {
        font-size: 17px;
    }


    .project-future {
        padding: 70px 20px;
    }

    .project-future h2 {
        font-size: 34px;
    }

    .project-future > p:not(.project-label) {
        font-size: 17px;
    }
}
/* =========================
   PÁGINA ESPECIES
   ========================= */

/* HERO */

.hero-especies {
    min-height: 70vh;
    padding: 100px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    background:
        linear-gradient(
            rgba(8, 17, 31, 0.45),
            rgba(8, 17, 31, 0.95)
        ),
        url("../imagenes/lumiens.jpg") center / cover no-repeat;
}

.hero-especies-contenido {
    width: 100%;
    max-width: 800px;
}

.hero-especies h1 {
    margin: 15px 0 20px;
    font-size: clamp(2.5rem, 6vw, 5rem);
}

.hero-especies p {
    max-width: 700px;
    margin: 0 auto 30px;
    color: #B8C0CC;
    font-size: 1.1rem;
    line-height: 1.7;
}


/* ETIQUETAS */

.hero-especies .etiqueta,
.introduccion-especies .etiqueta,
.carrusel-especies .etiqueta,
.mundo-especies .etiqueta,
.biodiversidad .etiqueta {
    color: #FFFFFF;
    font-size: 2 rem;
    letter-spacing: 3px;
    font-weight: bold;
    text-transform: uppercase;
}


/* INTRODUCCIÓN */

.introduccion-especies {
    max-width: 900px;
    margin: 0 auto;
    padding: 100px 30px;
    text-align: center;
}

.introduccion-especies h2 {
    margin: 15px 0 25px;
    font-size: 2.5rem;
}

.introduccion-especies p {
    max-width: 750px;
    margin: 10px auto;
    color: #B8C0CC;
    line-height: 1.8;
}


/* =========================
   CARRUSEL
   ========================= */

.carrusel-especies {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 80px 50px 100px;
}

.carrusel-especies .titulo-seccion {
    margin-bottom: 45px;
    text-align: center;
}

.carrusel-especies .titulo-seccion h2 {
    margin: 15px 0;
    font-size: 2.8rem;
}

.carrusel-especies .titulo-seccion p {
    color: #B8C0CC;
}


/* CONTENEDOR DEL SLIDE */

.carrusel-especies .carrusel {
    width: 100%;
    overflow: hidden;
    border-radius: 18px;
}


/* SLIDES */

.carrusel-especies .slide-especie {
    display: none;
    width: 100%;
    min-height: 560px;
    background-color: #08111F;
}

.carrusel-especies .slide-especie.activo {
    display: flex;
}


/* IMAGEN */


.carrusel-especies .slide-especie > img {
    width: 55%;
    height: 560px;
    object-fit: contain;
    background-color: #08111F;
}

/* INFORMACIÓN */

.carrusel-especies .info-especie {
    width: 45%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.carrusel-especies .info-especie .planeta {
    margin: 0 0 10px;
    color: #5DBBFF;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 4px;
}

.carrusel-especies .info-especie h3 {
    margin: 5px 0 25px;
    font-size: 3.2rem;
}

.carrusel-especies .info-especie > p:not(.planeta) {
    margin: 0 0 30px;
    color: #B8C0CC;
    line-height: 1.7;
}


/* CARACTERÍSTICAS */

.carrusel-especies .caracteristicas {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 30px;
}

.carrusel-especies .caracteristicas span {
    padding: 7px 12px;
    border: 1px solid rgba(93, 187, 255, 0.7);
    border-radius: 20px;
    color: #B8C0CC;
    font-size: 0.78rem;
}


/* BOTÓN DEL CARRUSEL */

.carrusel-especies .boton-secundario {
    align-self: flex-start;
}


/* =========================
   FLECHAS
   ========================= */

.carrusel-especies .flecha {
    position: absolute;
    top: 58%;
    z-index: 10;

    width: 48px;
    height: 48px;

    border: 1px solid #5DBBFF;
    border-radius: 50%;

    background-color: rgba(8, 17, 31, 0.9);
    color: #5DBBFF;

    font-size: 1.4rem;
    cursor: pointer;
}

.carrusel-especies .flecha:hover {
    background-color: #5DBBFF;
    color: #08111F;
}

.carrusel-especies .anterior {
    left: 5px;
}

.carrusel-especies .siguiente {
    right: 5px;
}


/* =========================
   INDICADORES
   ========================= */

.carrusel-especies .indicadores {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 25px;
}

.carrusel-especies .indicador {
    width: 11px;
    height: 11px;
    padding: 0;

    border: 1px solid #5DBBFF;
    border-radius: 50%;

    background: transparent;
    cursor: pointer;
}

.carrusel-especies .indicador.activo {
    background-color: #5DBBFF;
}


/* =========================
   SECCIONES DE LOS MUNDOS
   ========================= */

.mundo-especies {
    max-width: 1000px;
    margin: 0 auto;
    padding: 100px 30px;

    text-align: center;

    border-top: 1px solid rgba(93, 187, 255, 0.2);
}

.mundo-especies h2 {
    margin: 15px 0 20px;
    font-size: 2.5rem;
}

.mundo-especies > p:not(.etiqueta) {
    max-width: 700px;
    margin: 0 auto;
    color: #B8C0CC;
    line-height: 1.8;
}


/* =========================
   BIODIVERSIDAD
   ========================= */

.biodiversidad {
    max-width: 900px;
    margin: 0 auto;
    padding: 100px 30px;
    text-align: center;
}

.biodiversidad h2 {
    margin: 20px 0;
    font-size: 2.7rem;
}

.biodiversidad > p:not(.etiqueta):not(.proximamente) {
    max-width: 700px;
    margin: 15px auto;
    color: #B8C0CC;
    line-height: 1.8;
}

.biodiversidad .proximamente {
    margin-top: 40px;
    color: #5DBBFF;
    font-size: 0.8rem;
    letter-spacing: 3px;
}


/* =========================
   CTA
   ========================= */

.cta-especies {
    padding: 100px 30px;
    text-align: center;
    background-color: #050C18;
}

.cta-especies h2 {
    margin-bottom: 30px;
    font-size: 2.5rem;
}

.cta-especies .botones-cta {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}

/* =========================
   MÓVIL
   ========================= */

@media (max-width: 768px) {

    /* HERO */

    .hero-especies {
        min-height: 60vh;
        padding: 70px 20px;
    }

    .hero-especies h1 {
        font-size: 2.5rem;
    }

    .hero-especies p {
        font-size: 1rem;
    }


    /* INTRO */

    .introduccion-especies {
        padding: 70px 20px;
    }

    .introduccion-especies h2 {
        font-size: 2rem;
    }


    /* CARRUSEL */

    .carrusel-especies {
        padding: 60px 15px 80px;
    }

    .carrusel-especies .titulo-seccion h2 {
        font-size: 2rem;
    }

    .carrusel-especies .slide-especie {
        flex-direction: column;
        min-height: auto;
    }
.carrusel-especies .slide-especie > img {
    width: 100%;
    height: 320px;
    object-fit: contain;
    background-color: #08111F;
}

    .carrusel-especies .info-especie {
        width: 100%;
        padding: 35px 25px 40px;
    }

    .carrusel-especies .info-especie h3 {
        font-size: 2.4rem;
    }


    /* FLECHAS */

    .carrusel-especies .flecha {
        top: 43%;
        width: 40px;
        height: 40px;
        font-size: 1.1rem;
    }

    .carrusel-especies .anterior {
        left: 8px;
    }

    .carrusel-especies .siguiente {
        right: 8px;
    }


    /* MUNDOS */

    .mundo-especies {
        padding: 70px 20px;
    }

    .mundo-especies h2 {
        font-size: 2rem;
    }


    /* BIODIVERSIDAD */

    .biodiversidad {
        padding: 70px 20px;
    }

    .biodiversidad h2 {
        font-size: 2rem;
    }


    /* CTA */

    .cta-especies {
        padding: 80px 20px;
    }

    .cta-especies h2 {
        font-size: 2rem;
    }

    .cta-especies .botones-cta {
        flex-direction: column;
    }

    .cta-especies .botones-cta a {
        width: 100%;
        max-width: 280px;
        text-align: center;
    }
}
.hero-especies h1,
.introduccion-especies h2,
.carrusel-especies h2,
.carrusel-especies h3,
.mundo-especies h2,
.biodiversidad h2,
.cta-especies h2 {
    color: #ffffff;
}

/* =========================
PÁGINA CONTACTO
========================= */

.contacto {
max-width: 800px;
margin: 80px auto;
padding: 40px;
background-color: #101C2C;
border: 1px solid #26364A;
border-radius: 12px;
}

.contacto h2 {
text-align: center;
color: #D4AF37;
font-size: 2.2rem;
margin-bottom: 15px;
}

.contacto > p {
text-align: center;
color: #B8C0CC;
line-height: 1.7;
margin-bottom: 40px;
}

.campo {
display: flex;
flex-direction: column;
margin-bottom: 22px;
}

.campo label {
color: #FFFFFF;
margin-bottom: 8px;
font-weight: bold;
}

.campo input,
.campo textarea {
width: 100%;
box-sizing: border-box;
padding: 12px;
background-color: #08111F;
border: 1px solid #40516A;
border-radius: 6px;
color: #FFFFFF;
font-family: inherit;
font-size: 1rem;
}

.campo input:focus,
.campo textarea:focus {
outline: none;
border-color: #D4AF37;
}

.campo textarea {
resize: vertical;
}

.campo-checkbox {
display: flex;
align-items: center;
gap: 10px;
margin: 25px 0;
}

.campo-checkbox input {
width: 17px;
height: 17px;
}

.campo-checkbox label {
color: #B8C0CC;
font-size: 0.9rem;
}

.contacto button {
display: block;
margin: 30px auto 0;
padding: 12px 28px;
background-color: #D4AF37;
color: #08111F;
border: none;
border-radius: 6px;
font-size: 1rem;
font-weight: bold;
cursor: pointer;
transition: 0.3s;
}

.contacto button:hover {
background-color: #FFFFFF;
}

/* =========================
CONTACTO — MÓVIL
========================= */

@media (max-width: 768px) {

.contacto {
    margin: 40px 20px;
    padding: 25px 20px;
}

.contacto h2 {
    font-size: 1.8rem;
}

.contacto > p {
    font-size: 0.95rem;
}

.campo input, 
.campo textarea {
    font-size: 1rem;

}

   
}

/* =========================
   AVISO LEGAL
   ========================= */

.legal {
    max-width: 900px;
    margin: 60px auto;
    padding: 40px;
    color: white;
    line-height: 1.7;
}

.legal h1 {
    color: #FFFFFF;
    text-align: center;
    font-size: 5rem;
    margin-bottom: 40px;
}

.legal h2 {
    color: #ffffff;
    font-size: 2rem;
    margin-top: 40px;
    margin-bottom: 15px;
}

.legal p {
    margin-bottom: 20px;
}

.legal ul {
    margin: 20px 0;
    padding-left: 25px;
}

.legal li {
    margin-bottom: 12px;
}

.legal a {
    color: #D4AF37;
    text-decoration: none;
}

.legal a:hover {
    color: white;
    text-decoration: underline;
}


/* Nota sobre los datos ficticios */

.legal p strong {
    color: #D4AF37;
}


/* =========================
   FOOTER
   ========================= */

footer {
    text-align: center;
    padding: 30px 20px;
    margin-top: 40px;
}

footer nav {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    margin-top: 15px;
}

footer nav a {
    color: #D4AF37;
    text-decoration: none;
}

footer nav a:hover {
    color: white;
}


/* =========================
   VERSIÓN MÓVIL
   ========================= */

@media (max-width: 768px) {

    .legal {
        margin: 30px 15px;
        padding: 20px;
    }

    .legal h1 {
        font-size: 3rem;
        margin-bottom: 30px;
    }

    .legal h2 {
        font-size: 2rem;
        margin-top: 30px;
    }

    .legal p,
    .legal li {
        font-size: 16px;
    }

    footer nav {
        gap: 15px;
    }
}